<%- include('nav.ejs') %>
  <!-- Main content -->
  <div class="container mt-5">
    <div class="row align-items-center">
        <!-- Text Section -->
        <div class="col-md-6">
            <div class="text-section">
                <h1 class="mb-3">A comprehensive platform for reliable job opportunities</h1>
                <p class="lead">Get Discovered. Get Hired.</p>
                <div class="buttons mt-4">
                    <a href="" class="btn btn-primary me-3">I'm A Job Seeker</a>
                    <a href="registerRecruiter" class="btn btn-outline-light">I'm A Recruiter</a>
                </div>
            </div>
        </div>

        <!-- Image Section -->
        <div class="col-md-6">
            <div class="image-section text-center">
                <img src="https://via.placeholder.com/400x400.png?text=Profile+Image" alt="Profile Image" class="img-fluid rounded-circle">
            </div>
        </div>
    </div>
</div>
