<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    <a class="navbar-brand logo" href="#"><img src="/images/HireHive.jpg" alt="HireHive Logo" width="30" height="30" class="d-inline-block align-top">HireHive</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jobs">Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Recruiter</a>
            </li>
        </ul>
    </div>
    <!-- Search Bar -->
    <form class="d-flex search-bar">
        <input class="form-control me-2" type="search" placeholder="Search for jobs..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</nav>
