<%- include('nav.ejs') %>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contact</th>
        <th scope="col">Resume</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">id</th>
        <td>Name</td>
        <td>Email</td>
        <td>@Contact</td>
        <td><button><a href="">View</a></button></td>
      </tr>
    </tbody>
  </table>